body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.header-content {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.header-content h2 {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

.header-menu ol {
    display: flex;
}

.header-menu ol li {
    list-style: none;
}

.header-menu li a {
    color: rgba(109, 107, 107, 0.774);
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 30px;
    font-weight: bold;
}

.header-menu li:nth-child(1) a {
    color: black;
}

.header-menu li a:hover {
    color: black;
    transition: .5s;
}

.header-content_download {
    color: black;
    background-color: #42E2B8;
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: .5s;
    box-shadow: 0px 5px 13px 0px black;
    outline: none;
}

.header-content_download:hover {
    background-color: transparent;
    border-color: #42E2B8;
    color: white;
    cursor: pointer;
    transition: .5s;
}


/* Hero Section */
.hero-content {
    height: 300px;
    width: 100vw;
    margin: 50px 0 0 0;
    position: relative;
}

.hero-container__content {
    position: absolute;
    height: inherit;
    width: 50%;
    left: 0;
    top: 0;
    margin: 0 0 0 105px;
}

.hero-container__image {
    position: absolute;
    height: inherit;
    display: flex;
    justify-content: center;
    width: 50%;
    right: 0;
    top: 0;
}

.hero-content__image {
    height: inherit;
}

.hero-content__content {
    margin-top: 70px;
    width: 65%;    
}

.hero-content__content h4 {
    font-size: 35px;
    margin: 0 0 20px 0;
    font-weight: bold;
}

.hero-content__content h2 {
    font-size: 50px;
    margin: 0;
    font-weight: bold;
}

.hero-content__content p {
    font-size: 15px;
}

.hero-content__social i {
    margin: 0 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border: 2px solid black;
    background-color: #42E2B8;
    transition: .7s;
}

.hero-content__social i:nth-child(1) {
    margin-left: 0;
}

.hero-content__social i:hover {
    border-color: #42E2B8;
    background-color: transparent;
    color: white;
    transition: .7s;
    cursor: pointer;
}

.hero-content__image img {
    width: 500px;
    margin-top: -50px;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
}


/* Description Projects */
.description-container {
    width: 100%;
    margin-top: 170px;
    text-align: center;
}

.description-container span {
    font-weight: bolder;
}

.description-container i {
    display: block;
    margin-top: 20px;
    font-size: 30px;
}

@media (max-width: 800px) {
    .header-content {
        margin: 10px 0;
    }

    .header-menu {
        display: none;
        justify-content: space-evenly;
    }

    .header-content_download {
        padding: 10px 20px;
    }

    .header-content_download span {
        display: none;
    }

    .hero-content {
        height: 500px;
    }

    .hero-container__content {
        top: initial;
        height: initial;
        width: 100%;
        left: 0;
        bottom: 0;
        margin: 0;
        text-align: center;
    }

    .hero-content__content p {
        margin: 0 30px 20px 30px;
    }

    .hero-container__image {
        height: 300px;
        width: 100%;
        right: 0;
        left: 0;
        top: 0;
    }

    .hero-content__image img {
        position: relative;
        width: 400px;
        margin-top: -90px;
        z-index: -1;
    }

    .hero-content__content {
        margin: 0;
        width: 100%;
    }

    .description-container {
        margin-top: 50px;
    }
}
